<!DOCTYPE html>
<html th:replace="~{/shared/layout::view(~{::title}, ~{::article})}">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<article class="container my-5 p-5">

		<!-- ✅ Carousel chính -->
		<div id="carouselMain" class="carousel slide mb-5"
			data-bs-ride="carousel">
			<div class="carousel-inner">
				<div th:each="film, iterStat : ${carouselFilms}"
					th:classappend="${iterStat.index == 0} ? ' active'"
					class="carousel-item">
					<a th:href="@{/film/detail(id=${film.id})}"> <img
						th:src="@{'/poster-images/' + ${film.poster}}"
						class="d-block w-100 img-fluid rounded"
						style="max-height: 550px; object-fit: cover;"
						th:alt="${film.name}">
					</a>
				</div>


			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselMain" data-bs-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselMain" data-bs-slide="next">
				<span class="carousel-control-next-icon"></span>
			</button>
		</div>


		<!-- Tiêu đề -->
		<div class="text-center mb-4">
			<h1 class="fw-bold text-primary">MOVIE SELECTION</h1>
		</div>

		<!-- ✅ Carousel phụ -->
		<div id="carouselFilms" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div th:each="chunk, chunkStat : ${filmChunks}"
					th:classappend="${chunkStat.index == 0} ? ' active'"
					class="carousel-item">

					<div
						class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
						<div class="col" th:each="film : ${chunk}">
							<div class="card h-100 shadow-sm d-flex flex-column">
								<a th:href="@{/film/detail(id=${film.id})}" class="d-block">
									<img th:src="@{'/film-images/' + ${film.avatar}}"
									class="card-img-top" style="height: 500px; object-fit: cover;"
									th:alt="${film.name}">
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>

			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselFilms" data-bs-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselFilms" data-bs-slide="next">
				<span class="carousel-control-next-icon"></span>
			</button>
		</div>


	</article>

	<footer></footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
