<!DOCTYPE html>
<html th:replace="~{/shared/layout::view(~{::title}, ~{::article})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav></nav>
	<article class="container my-4 bg-light">
		<h1 class="text-center bg-dark text-white">THÔNG TIN CHUNG</h1>
		<img class="rounded-circle mx-auto d-block img-thumbnail" alt=""
			src="/images/defaul.png">
		<i class="fw-semibold">Xin chào User,</i>
		<p class="card p-3 border">
			LIÊN HỆ <a class="btn btn-secondary mx-auto d-block ms-0" href="/account/profile/form">Thay đổi</a>
			Tên: User <br> Email: Example@gmail.com <br> Điện thoại:
			0123456789
		</p>

	</article>
	<footer></footer>
</body>
</html>